#root{
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

main{
    flex-grow: 1;
}


.personajeImg{
    object-fit: contain !important;
    width:150px  !important;
    height:150px  !important;
    border-radius: 50%  !important;
}